[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
qscintilla = "*"
pymupdf = "*"
pyqt5-sip = "*"

[requires]
python_version = "3.7"
